@model MainApp.Models.Application

@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="d-flex align-items-center">
            <div class="pr-3" style="font-size: 25px">
                <a href="@Url.Action("Index", "Application")">
                    <i class="fa fa-chevron-circle-left"></i>
                </a>
            </div>
            <h3 class="mb-1">
                Details
            </h3>
        </div>
    </div>
    <div class="pt-2">
        <div>
            <div class="offer-details">
                <h4 class="mb-0 mt-2">@(Model.JobOffer.JobTitle + ": " + Model.LastName + "'s Application")</h4>
                <label>Job offer:</label>
                <div class="content">@Model.JobOffer.JobTitle</div>
                <label>Company:</label>
                <div class="content">@Model.JobOffer.HR.Company.Name</div>
                <label>First name:</label>
                <div class="content">@Model.FirstName</div>
                <label>Last name:</label>
                <div class="content">@Model.LastName</div>
                <label>Email adress:</label>
                <div class="content">@Model.EmailAddress</div>
                <label>Phone number:</label>
                <div class="content">@Model.PhoneNumber</div>
                <label>Cv url:</label>
                <div class="content">@Model.CvUrl</div>
                <label>Contact agreement:</label>
                <div class="content">@Model.ContactAgreement</div>
                <label>Status:</label>
                <div class="content">@Model.State</div>
                @if (Model.State == "Pending")
                {
                    <div class="pt-4">
                        <a asp-action="Edit" asp-route-id="@Model.Id">
                            <button class="btn btn-rounded btn-primary mx-2">
                                <i class="fa fa-edit pr-2"></i>
                                Edit
                            </button>
                        </a>
                        <button class="btn btn-rounded btn-danger mx-2"
                                data-toggle="modal"
                                data-target="#confirm-delete">
                            <i class="fa fa-trash pr-2"></i>
                            Delete
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Application</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="font-weight-bold mb-0">Are you sure you want to delete this?</p>
                <p class="text-danger mb-0"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">
                    <i class="fa fa-chevron-left pr-2"></i>
                    Cancel
                </button>
                @using (Html.BeginForm("Delete", "Application", new { Model.Id }, FormMethod.Post, null, new { style = "display:inline;" }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-rounded btn-danger">
                        <i class="fa fa-trash pr-2"></i>
                        Delete
                    </button>
                }
            </div>
        </div>
    </div>
</div>