@model HR

@{ ViewBag.Title = "My profile";}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="d-flex align-items-center">
            <div class="pr-3" style="font-size: 25px">
                <a href="@Url.Action("Index", "HR")">
                    <i class="fa fa-chevron-circle-left"></i>
                </a>
            </div>
            <h3 class="mb-1">
                Details
            </h3>
        </div>
    </div>

    <div class="pt-2">
        <div>
            <div class="hr-details">
                <h4 class="mb-0 mt-2">@Model.FirstName @Model.LastName</h4>

                <label>Company:</label>
                <div class="content">@Model.Company.Name</div>

                <div class="pt-4">
                    <a asp-action="Edit" asp-route-id="@Model.Id">
                        <button class="btn btn-rounded btn-primary mx-2">
                            <i class="fa fa-edit pr-2"></i>
                            Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>